--eclipse-files--
.project
.classpath
.settings
--intellij-files--
.idea
*.iml
--build-artifacts--
bin
unit-test-report
*.tgz
*.log
target
rhel.4.4.package*
testng.out.*
surefire
--svn-artifacts--
svn-commit*.tmp
.settings/*
.settings
.project
target
.classpath
test-output
bin
.metadata
rhel*
rhel.6.2.package.7ndtXu_
RemoteSystemsTempFiles
wire.log.*
pom.xml.versionsBackup
--Mac files--
.DS_Store
